<form (submit)="onSignup(); $event.preventDefault()" class="auth-form">
  <div class="form-group">
    <label>Name</label>
    <input type="text" [(ngModel)]="name" name="name" required>
  </div>
  <div class="form-group">
    <label>Email</label>
    <input type="email" [(ngModel)]="email" name="email" required>
  </div>
  <div class="form-group">
    <label>Password</label>
      <div class="input-with-eye">
        <input [type]="showPassword() ? 'text' : 'password'" [(ngModel)]="password" name="password" required>
        <button type="button" (click)="showPassword.set(!showPassword())" class="eye-btn">
          <lucide-icon [name]="showPassword() ? 'eye-off' : 'eye'"></lucide-icon>
        </button>
      </div>
  </div>
  <div class="form-group">
    <label>Confirm Password</label>
      <div class="input-with-eye">
        <input [type]="showConfirmPassword() ? 'text' : 'password'" [(ngModel)]="confirmPassword" name="confirmPassword" required>
        <button type="button" (click)="showConfirmPassword.set(!showConfirmPassword())" class="eye-btn">
          <lucide-icon [name]="showConfirmPassword() ? 'eye-off' : 'eye'"></lucide-icon>
        </button>
      </div>
    </div>
</form>
